.containerDash {
  padding: 10px 0 !important; 
  margin: 0 !important;
  width: 100% !important;
  min-width: 100% !important;
  background-color: #202020;
}

#expiryDropdownMenu {
  min-width: 150px;
}

#tickerDropdownMenu {
  min-width: 150px;
}


#strikeDistanceDropdownMenu {
  min-width: 150px;
}

#totContractsDropdownMenu {
  min-width: 150px;
}